<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bounty.io</title>
    <link rel="stylesheet" href="../styles/bulma/css/bulma.css" type="text/css" />
    <link rel="stylesheet" href="../styles/styles.css" type="text/css" />
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/home">
          <img src="https://pngimg.com/uploads/bullets/bullets_PNG35611.png" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/home">
          Home
        </a>
  
        <a class="navbar-item" href="/bounty-board">
          Bounty Board
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/team">
              Team
            </a>
            <a class="navbar-item" href="https://github.com/Devonte202/bounty">
              Github Repo
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/api/logout">
              <strong>Logout</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <div class="jumbo-text-box">
      <h1 class="title is-1 jumbo-text">B O U N T Y</h1>
      <h5 class="subtitle is-5 jumbo-text">Join The Hunt!</h5>
    </div>
  </div>
  <section class="container is-fluid text">
    <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile">
          <h1 class="title is-2">Buy and Sell Rare Items</h1>
        </div>
        <div class="tile">
          <h5 class="subtitle is-5">
            Ever wanted to buy something that's no longer made? What if instead of putting a bounty on criminals, you put one on that 1989 videogame that isn't made anymore?!
          </h5>
        </div>
        <div class="tile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://tinyurl.com/yx7z58ym" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://tinyurl.com/uzftdlx" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Stadium Events</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>
          
              <div class="content">
               In 1988 Nintendo pulled all copies from shelves and had them destroyed, but not before 200 carts had already been sold.<a href="#">#nintendo</a><a href="#">#videogames</a>
                <br>
                <h1>$2,600</h1>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 March 2020</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile">
          <h1 class="title is-2">Ask the Real Questions</h1>
        </div>
        <div class="tile">
          <h5 class="subtitle is-5">
            Ever needed an answer to a question without you identity attached to the question? Well, you can put a bounty on that too! Those bounties are free, as all information should be!
          </h5>
        </div>
        <div class="tile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://tinyurl.com/txqb8aa" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://tinyurl.com/tkvbt6w" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Where can I buy live lady bugs</p>
                  <p class="subtitle is-6">@kathyjohnson</p>
                </div>
              </div>
          
              <div class="content">
               Anyone know where the best place to buy ladybugs for a secret scientific experiment would be? Totally not for a valentines day prank by the way!
                <a href="#">#bugs</a><a href="#">#science</a><a href="#">#questions</a>
                <br>
                <h1>Free Bounty</h1>
                <br>
                <time datetime="2020-13-2">1:43 PM - 13 February 2020</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile">
          <h1 class="title is-2">Become a Bounty Hunter</h1>
        </div>
        <div class="tile">
          <h5 class="subtitle is-5">
            Have a garage full of random items you've been hoarding for years? Well one man's trash is another man's treasure. Check the bounty board and make some quick cash!
          </h5>
        </div>
        <div class="tile">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://tinyurl.com/rjdl6go" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://tinyurl.com/qn593df" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Bounty Hunter</p>
                  <p class="subtitle is-6">@anonhunter224</p>
                </div>
              </div>
          
              <div class="content">
               Collector of rare videogames and exclusive Supreme clothing line collaborations. Willing to sell to whoever pays the highest bounty!
                <a href="#">#clothing</a><a href="#">#videogames</a>
                <br>
                <h1>54 Bounties Claimed</h1>
                <br>
                <time>Joined March 2020</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>